* {
    padding: 0;
    margin: 0;
}

:root {
    font-family: monospace;
}

ul {
    background: rgb(255, 180, 211); 
    color: rgb(238, 66, 224);
    padding: 3px;
    margin: 2px;
    list-style: none;
    border: 1px solid rgb(255, 128, 206);
}

body {
    background: rgb(247, 140, 182); 
    height: 100vh;
}

#contenedor {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 100%;
}

h1{
    color: rgb(255, 180, 211);
}
